
.image{
  height: 421px;
  border-bottom: 2px solid #b01ba5;
  background-image: url("/../../../assets/imagenes/banner.jpg");
}

.alineacion{
  text-align:center;
}

h1{
   color: #b01ba5;
}

.transparencia{
  background-color: rgba(8, 22, 36, 0.5);
}
