.imagenDeQuienSoy{
    width: 100%;
    }

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 {
    background-color: #6B0968; /* Dark violet */
    color: #ffffff;
}
.bg-2 {
    background-color: #0c062e; /* Dark Blue */
    color: #ffffff;
}
.bg-3 {
    background-color: #6B0968; /* White */
    color: #ffffff;
}
.bg-4 {
    background-color: #0c062e; /* Black Gray */
    color: #fff;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  background-color:  #0c062e;

}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

img {
  max-width: 100%;
}

.color-gaming{
  color: #F003E9;
}







