
.transparencia{
  background-color: rgba(8, 22, 36, 0.5);
}

.alineacion{
  text-align:center;
}


.neon {
  animation: neonAnim 2s alternate-reverse infinite;
  color: #D8A80F;
  font-family: Cursive;
  font-size: 42px;
}
@keyframes neonAnim {
  from {
    text-shadow:
      0 0 39px rgba(216, 168, 15, .7),
      0 0 69px rgba(216, 168, 15, .7),
      0 0 129px rgba(216, 168, 15, .7);
  }
  to {
    text-shadow:
      0 0 34px rgba(216, 168, 15, .7),
      0 0 49px rgba(216, 168, 15, .7),
      0 0 89px rgba(216, 168, 15, .7);
  }
}

h2:hover{
  color: white;
}


.image{
  height: 321px;
  width: 1272px;
  border-bottom: 2px solid #b01ba5;
  background-image: url("/../../../assets/imagenes/banner2.jpg");
}
