
.tateti{
  height: 600px;
  background-color: #0c062e;
  text-align: center;
}

button{
  background-color: black;
}



.neon-rojo {
  animation: neonAnim 2s alternate-reverse infinite;
  color: #FB6262;
  font-family: Cursive;
  font-size: 100px;
}
@keyframes neonAnim {
  from {
    text-shadow:
      0 0 39px rgba(251, 98, 98, .7),
      0 0 69px rgba(251, 98, 98, .7),
      0 0 129px rgba(251, 98, 98, .7);
  }
  to {
    text-shadow:
      0 0 34px rgba(251, 98, 98, .7),
      0 0 49px rgba(251, 98, 98, .7),
      0 0 89px rgba(251, 98, 98, .7);
  }
}
.neon-azul {
  animation: neonAnim 2s alternate-reverse infinite;
  color: #0068F1;
  font-family: Cursive;
  font-size: 100px;
}
@keyframes neonAnim {
  from {
    text-shadow:
      0 0 39px rgba(0, 104, 241, .7),
      0 0 69px rgba(0, 104, 241, .7),
      0 0 129px rgba(0, 104, 241, .7);
  }
  to {
    text-shadow:
      0 0 34px rgba(0, 104, 241, .7),
      0 0 49px rgba(0, 104, 241, .7),
      0 0 89px rgba(0, 104, 241, .7);
  }
}
