.imagenFondo{
  width: 1271px;
  height: 800px;
  background-repeat: no-repeat;
  background-color: #1993CC;
  border-bottom: 2px solid #b01ba5;
  background-image: url("/../../../assets/imagenes/jugadores2.jpg");

}

.opacity{
  opacity: 0.5;
}

table{
  border: solid 4px white ;
  width: 70%;
  height: 20%;
  margin-left: auto;
  margin-right: auto;

}

tr{
  color: white;
  text-align: center;
  background-color: rgba(8, 22, 36, 0.5);
}

tr:hover{
  background-color: #64228A;
}

td {
  text-align: center;
  width: 3px;

}
th{
  text-align: center;

}

.avatar {
  /* cambia estos dos valores para definir el tamaño de tu círculo */
  height: 100px;
  width: 100px;
  /* los siguientes valores son independientes del tamaño del círculo */
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
  border: 3px solid;
  border-color: blue;
}

button{
  background-color: #b01ba5;
  margin-top: 30px;
  margin-bottom: 30px;
}

h4{
  text-align: center;

}
