

<div class="imagenFondo">
  <h4 routerLink="/Principal"><button class="btn btn-success btn-lg comenzar">Volver</button> </h4>

  <table class="table table-condensed">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Apodo</th>
      <th>Sexo</th>
      <th>Imagen</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let jugador of jugadores" >
      <td>{{jugador.nombre}} </td>
      <td>{{jugador.apodo}} </td>
      <td>{{jugador.sexo | sexo| uppercase}} </td>
      <td><img [src]="jugador.avatar" class="avatar"  alt=""> </td>

    </tr>

    </tbody>
  </table>
</div>

