<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>404</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:700,900" rel="stylesheet">
</head>

<body>

<div id="notfound">
  <div class="notfound">
    <div class="notfound-404">
      <h1>404</h1>
      <h2>Ingreso Incorrecto o Registro Incompleto </h2>
    </div>
    <br><br><br><br>
    <a href="#">Pagina Principal</a>
    <br><br><br>
    <h3 style="color:red">En caso de registrarse por favor chequear que los campos esten completos, son todos obligatorios. </h3>
  </div>
</div>

</body>

</html>
