
<div class="hero-item">
  <app-cabecera>  </app-cabecera>
  <!--section class="blog-page">
    <div class="container" >
      <ul class="list-group-item list-group-item-danger menu opacity">
        <div class="media-body">
          <div class="hero-text">
            <h4>Menú Principal</h4>
          </div>
        </div>
      </ul>
      <div class="row">
            <div class="big-blog-item">
                <img src="./assets/imagenes/juegos.jpg" alt="#" class="blog-thumbnail">
                <div class="container">
                  <div class="blog-content text-box text-white">
                    <div class="top-meta"><a href="">Juegos</a></div>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.....</p>
                  </div>


              </div>





            </div>

          <div class="big-blog-item">
            <img src="./assets/imagenes/highscore.jpeg" alt="#" class="blog-thumbnail">
            <div class="blog-content text-box text-white">
              <div class="top-meta">11.11.18  /  in <a href="">Games</a></div>
              <h3>The best online game is out now!</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.....</p>
              <a href="#" class="read-more">Read More <img src="img/icons/double-arrow.png" alt="#"/></a>
            </div>
          </div>

          <div class="big-blog-item">
            <img src="./assets/imagenes/configuration.jpeg" alt="#" class="blog-thumbnail">
            <div class="blog-content text-box text-white">
              <div class="top-meta">11.11.18  /  in <a href="">Games</a></div>
              <h3>The best online game is out now!</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.....</p>
              <a href="#" class="read-more">Read More <img src="img/icons/double-arrow.png" alt="#"/></a>
            </div>
          </div>

        <div class="big-blog-item">
          <img src="./assets/imagenes/jugador.jpg" alt="#" class="blog-thumbnail">
          <div class="blog-content text-box text-white">
            <div class="top-meta">11.11.18  /  in <a href="">Games</a></div>
            <h3>The best online game is out now!</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.....</p>
            <a href="#" class="read-more">Read More <img src="img/icons/double-arrow.png" alt="#"/></a>
          </div>
        </div>

      </div>

    </div>
  </section-->

  <div class="container margin">
    <ul class="list-group">
      <li class="list-group-item list-group-item-danger menu transparencia">
        <div class="media-body">
          <div class="hero-text">
            <h4>Menú Principal</h4>
          </div>
        </div>
      </li>
      <li class="list-group-item  item-background-color transparencia ">
        <a routerLink="/Juegos">
          <div class="media">
            <div class="media-left">
              <img src="./assets/imagenes/juegos.jpg" class="media-object imagenDeMenu" >
            </div>
            <div class="media-body">
                <div class="top-meta"> Juegos </div>
                <h3>Los mejores juegos ya estan disponibles!</h3>
              <p>El método lúdico es un conjunto de estrategias diseñadas para crear un ambiente de armonía en los estudiantes que están inmersos en el proceso de aprendizaje. Este método busca que los alumnos se apropien de los temas impartidos por los docentes utilizando el juego.</p>
            </div>
          </div>
        </a>
      </li>
      <li class="list-group-item item-background-color transparencia">
        <a routerLink="/Listado">
          <div class="media">
            <div class="media-left">
              <img src="./assets/imagenes/highscore.jpeg" class="media-object imagenDeMenu" >
            </div>
            <div class="media-body">
              <h4 class="media-heading">Listados de resultados</h4>
              <p>Los listados de los resultados con ordenamiento y busqueda</p>
            </div>

          </div>
        </a>
      </li>
      <li class="list-group-item item-background-color transparencia">
        <a routerLink="/Juegos">
          <div class="media">
            <div class="media-left">
              <img src="./assets/imagenes/configuration.jpeg" class="media-object imagenDeMenu" >
            </div>
            <div class="media-body">
              <h4 class="media-heading">Configuraci&oacute;n</h4>
              <p>Ajustes de la aplicacion y los métodos de autentificación</p>
            </div>

          </div>
        </a>
      </li>
      <li class="list-group-item item-background-color transparencia">
        <a routerLink="/Jugadores">
          <div class="media">
            <div class="media-left">
              <img src="./assets/imagenes/jugador.jpg" class="media-object imagenDeMenu" >
            </div>
            <div class="media-body">
              <h4 class="media-heading">Jugadores</h4>
              <p>Listado de jugadores</p>
            </div>

          </div>
        </a>
      </li>


    </ul>
  </div>
</div>
<div class>

</div>
