
<!--div class="container" >
    <div class="card">
      <img class="img-thumbnail"   src="./assets/imagenes/hungerGames.jpg" alt="Avatar" style="width:100%">
      <h1>Velocidad y agilidad aritmética </h1>
      <p class="title">Juego de agilidad mental</p>
      <p>UTN FRA </p>

      <a href="#"><i class="fa fa-dribbble"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-facebook"></i></a>
      <p>           <button class="button"  (click)="Juego('Agilidad')">Jugar</button></p>

    </div>

    <div class="card">
      <img class="img-thumbnail" src="./assets/imagenes/piedraPapelTijera.jpg" alt="Avatar" style="width:100%">
      <h1>Piedra Papel o Tijera</h1>
      <p class="title">Juega contra la máquina</p>
      <p>UTN FRA </p>

      <a href="#"><i class="fa fa-dribbble"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-facebook"></i></a>
      <p>           <button class="button"  (click)="Juego('PPT')">Jugar</button></p>
    </div>
    <div class="card">
      <img  class="img-thumbnail"  src="./assets/imagenes/akinator.png" alt="Avatar" style="width:100%">
      <h1>Adivina el número secreto</h1>
      <p class="title">Juega de estrategia</p>
      <p>UTN FRA </p>

      <a href="#"><i class="fa fa-dribbble"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-facebook"></i></a>
      <p>           <button class="button"  (click)="Juego('Adivina')">Jugar</button></p>
    </div>
  </div-->

<div id="game" class="casino">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 padding_bottom">
        <div class="game_box">
          <figure><img src="./assets/imagenes/hungerGames.jpg" alt="#"/></figure>
        </div>
        <div class="game">
          <a href="/Juegos/Agilidad">Velocidad y agilidad aritmética</a>
        </div>
      </div>
      <div class="col-md-4 padding_bottom">
        <div class="game_box">
          <figure><img src="./assets/imagenes/piedraPapelTijera.jpeg" alt="#"/></figure>
        </div>
        <div class="game">
          <a href="/Juegos/PPT">Piedra Papel o Tijera</a>
        </div>
      </div>
      <div class="col-md-4 padding_bottom">
        <div class="game_box">
          <figure><img src="./assets/imagenes/akinator.png" alt="#"/></figure>
        </div>
        <div class="game">
          <a href="/Juegos/Adivina">Adivina el número secreto</a>
          <h3></h3>
        </div>
      </div>
      <div class="col-md-4 padding_bottom">
        <div class="game_box">
          <figure><img src="./assets/imagenes/anagrama.png" alt="#"/></figure>
        </div>
        <div class="game">
          <a href="/Juegos/Anagrama"> <p>Anagrama</p> </a>
        </div>
      </div>
      <div class="col-md-4 padding_bottom">
        <div class="game_box">
          <figure><img src="./assets/imagenes/tateti.png" alt="#"/></figure>
        </div>
        <div class="game">
          <a href="/Juegos/Tateti"><p>TA TE TI</p> </a>
        </div>
      </div>
      <div class="col-md-4 padding_bottom">
        <div class="game_box">
          <figure><img src="./assets/imagenes/memotest.jpg" alt="#"/></figure>
        </div>
        <div class="game">
          <a href="/Juegos/Memotest"> <p>Memotest</p></a>
        </div>
      </div>
      <div class="col-md-4 padding_bottom">
        <div class="game_box">
          <figure><img src="./assets/imagenes/pasa.jpg" alt="#"/></figure>
        </div>
        <div class="game">
          <a href="/Juegos/Pasapalabra"><p>Pasapalabra</p></a>
        </div>
      </div>
    </div>
  </div>
</div>

