

/* CSS NUEVO*/


/*end reset*/
/****-----start-body----****/
body{
  text-align: center;
  background: url("../../../assets/imagenes/1.jpg") 0px 0px no-repeat;
  background-size:cover;
  background-attachment: fixed;
}

@font-face{
  font-family: "Audiowide-Regular";
  src:url(../../componentes/login/fonts/Audiowide-Regular.ttf);
}
@font-face{
  font-family: "Asap-Regular";
  src:url(../../componentes/login/fonts/Asap-Regular.ttf);
}


.header {
  text-align: center;
  padding-bottom:75px;
}
.header h1 img{
  width:7%;
}

p ,a{
  font-family: "Asap-Regular";
}
.header h1 , h2 {
  font-size:50px;
  color: #fff;
  font-family: "Audiowide-Regular";
  letter-spacing:3px;
  margin:0 auto;
}

.terminos{
  margin-bottom: 50px;
  margin-top: -60px;
  padding-left: 20px;
  padding-right: 20px;
}

.terminos p{
  color: white;
}

.header h2{
  margin-top: 80px;
}
#avatar {
  margin-bottom: 50px;
}

.avatar {
  /* cambia estos dos valores para definir el tamaño de tu círculo */
  height: 50px;
  width: 50px;
  /* los siguientes valores son independientes del tamaño del círculo */
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
}



.design-w3l{
  width:68%;
  margin-left: 20%;
  margin-right: auto;
  text-align: center;
}



.navbar h2 {
  text-align: center;
}


.mail-form-agile {
  padding: 40px 50px;
  width: 700px;
  text-align: center;
  background: rgba(23, 218, 218, 0.18);
  color: #000;
}

.padding {
  margin: 20px 0 0px;
}

.botones{
  margin-top: 5px;
  padding-left: 25px;
  border-radius: 12px;
  font-family: sans-serif;
  border-width: 2px;

}

.mail-form-agile input[type='checkbox']{
  margin-top: 30px;
}

.mail-form-agile label{
  margin-top: 27px;
}

label{
   margin-left: 10px;
}

.mail-form-agile input[type="text"], .mail-form-agile input[type="password"] {
  padding: 14px 11px;
  width: 92.5%;
  font-size: 16px;
  outline: none;
  background:transparent;
  border:0px;
  border-bottom: 1px solid #fff;
  border-radius: 0px;
  font-family: "Asap-Regular";
  letter-spacing:1.6px;
  color:#fff;
}



::-webkit-input-placeholder{
  color:#b4b0b0 !important;
  font-weight:400;
}
button {
  background-color: #D65B88;
  color: #fff;
}

button:hover{
  background-color: green;
}



.mail-form-agile input[type="submit"]:hover {
  -webkit-transition-duration: 0.9s;
  transition-duration: 0.9s;
  background:rgba(91, 157, 214, 0.76);
}


.footer{
  text-align: center;
  padding-top:75px;
  letter-spacing:1.6px;
  line-height:22px;
}
.footer p {
  font-size: 16px;
  color: #fff;
  margin: 0px;
  letter-spacing:1.4px;
}
.footer p a {
  color:#D65B88;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.footer p a:hover {
  color: #51cbe1;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
}




/*-- responsive media queries --*/







