<!--body>
  <div class="jumbotron">
    <h2 id="terminos">Terminos y condiciones</h2>
    <p>El Gobierno de la República Argentina (en adelante el “Gobierno Nacional”) no es responsable por los daños y perjuicios que puedan surgir, incluyendo, sin límite, daños, pérdidas o gastos directos, indirectos, que surjan en relación con el uso de los Activos Digitales o la imposibilidad de uso, en relación con cualquier falla en el vencimiento, error, omisión, interrupción, defecto, demora en la operación o transmisión, virus de computadora o falla del sistema de línea, aún en el caso de que el Gobierno Nacional o sus representantes fueran informados sobre la posibilidad de dichos daños, pérdidas o gastos.</p>
    <p>El Gobierno Nacional no controla ni garantiza la ausencia de virus ni de otros elementos en los contenidos que puedan producir alteraciones en su sistema informático (software y hardware) o en los documentos electrónicos y ficheros almacenados en su sistema informático.</p>
    <p>El Gobierno Nacional no puede garantizar que la transmisión de información por parte de los Usuarios sea completamente segura. El Usuario asume este riesgo.</p>

  </div>
  <strong><p>No leer lo anterior, es solo un ejemplo sacado de https://www.argentina.gob.ar/terminos-y-condiciones </p></strong>
  <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Acepto</button>
  <button  class="cancelbtn"  routerLink="/Principal" style="width:auto;">No acepto</button>
  <div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
    <form class="modal-content animate" >
      <div class="container">
        <label><b>Email</b></label>
        <input type="text" placeholder="Ingresa tu correo" name="email" required>

        <label><b>Clave</b></label>
        <input type="password" placeholder="Aca la clave" name="psw" required>

        <label><b>Repita la clave</b></label>
        <input type="password" placeholder="Aca repeti la misa clave  de arriba" name="psw-repeat" required>
        <input type="checkbox" checked="checked">Recordar mis datos
        <p>creando la cuenta aceptando los<a  onclick="document.getElementById('id01').style.display='none'"  >Terminos y condiciones</a>.</p>

        <div class="clearfix">
          <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Me arrepenti</button>
          <button type="submit" class="signupbtn">Registrarme</button>
        </div>
      </div>
    </form>
  </div>

  <script>
  // Get the modal
  var modal = document.getElementById('id01');

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
  </script>

  </body-->


<!-- REGISTRO NUEVO -->

<!DOCTYPE html>
<html>

<head>
  <title>Gaming Registro Form Responsive Widget Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Gaming Login Form Widget Tab Form,Login Forms,Sign up Forms,Registration Forms,News letter Forms,Elements"/>
</head>

<body>
<div class="padding-all">
  <div class="header">
    <h1><img src="./assets/imagenes/5.png" alt=" "> Gaming Registro Form</h1>
    <h2>Terminos y condiciones</h2>
  </div>
  <div class="terminos">
    <p>El Gobierno de la República Argentina (en adelante el “Gobierno Nacional”) no es responsable por los daños y perjuicios que puedan surgir, incluyendo, sin límite, daños, pérdidas o gastos directos, indirectos, que surjan en relación con el uso de los Activos Digitales o la imposibilidad de uso, en relación con cualquier falla en el vencimiento, error, omisión, interrupción, defecto, demora en la operación o transmisión, virus de computadora o falla del sistema de línea, aún en el caso de que el Gobierno Nacional o sus representantes fueran informados sobre la posibilidad de dichos daños, pérdidas o gastos.</p>
    <p>El Gobierno Nacional no controla ni garantiza la ausencia de virus ni de otros elementos en los contenidos que puedan producir alteraciones en su sistema informático (software y hardware) o en los documentos electrónicos y ficheros almacenados en su sistema informático.</p>
    <p>El Gobierno Nacional no puede garantizar que la transmisión de información por parte de los Usuarios sea completamente segura. El Usuario asume este riesgo.</p>
    <strong><p>No leer lo anterior, es solo un ejemplo sacado de </p><a href="https://www.argentina.gob.ar/terminos-y-condiciones"> Terminos y Condiciones </a>  </strong>
  </div>

  <div class="design-w3l">
    <div class="mail-form-agile">
      <form>
        <input type="text"  [(ngModel)]="usuario._email" required name="name" placeholder="Nombre de usuario o correo" required=""/>
        <input type="password" [(ngModel)]="usuario._pass" required name="password" class="padding" placeholder="contraseña" required=""/>
        <input type="password"  name="repeatPassword" class="padding" placeholder="repita contraseña" required=""/>
        <br>
        <div class="form-group">
          <div class="col-md-8">
            <input type="checkbox" id="recordar" class="form-check-input" value="" required>
            <label for="recordar" style="color: white">Acepto Terminos y Condiciones</label>
          </div>
          <br>
        </div>
      </form>
      <div class="container">
        <div class="row botones">
          <div class="col-md-6">
            <button type="button" (click)="onRegister()" >Registrarse</button>
          </div>
          <div class="col-md-6">
            <button type="button" (click)="cancelar()">Cancelar</button>
          </div>
        </div>
        <br>
        <span class="psw" style="color: white" >Tenes Cuenta? Logueate <a href="#">aqui</a></span>
      </div>
    </div>
    <div class="clear"> </div>
  </div>

  <div class="footer">
    <p>© 2020 Gaming Login form. All Rights Reserved | Design by  <a href="https://german.com/" >  German Alvaredo </a></p>
  </div>
</div>
</body>
</html>


