

<!DOCTYPE html>
<html>

<head>
  <title>Gaming Registro Form Responsive Widget Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Gaming Login Form Widget Tab Form,Login Forms,Sign up Forms,Registration Forms,News letter Forms,Elements"/>
</head>

<body>
<div class="padding-all">
  <div class="header">
    <h1><img src="./assets/imagenes/5.png" alt=" "> Gaming Registro Form</h1>
    <h2>Terminos y condiciones</h2>
  </div>
  <div class="terminos">
    <p>El Gobierno de la República Argentina (en adelante el “Gobierno Nacional”) no es responsable por los daños y perjuicios que puedan surgir, incluyendo, sin límite, daños, pérdidas o gastos directos, indirectos, que surjan en relación con el uso de los Activos Digitales o la imposibilidad de uso, en relación con cualquier falla en el vencimiento, error, omisión, interrupción, defecto, demora en la operación o transmisión, virus de computadora o falla del sistema de línea, aún en el caso de que el Gobierno Nacional o sus representantes fueran informados sobre la posibilidad de dichos daños, pérdidas o gastos.</p>
    <p>El Gobierno Nacional no controla ni garantiza la ausencia de virus ni de otros elementos en los contenidos que puedan producir alteraciones en su sistema informático (software y hardware) o en los documentos electrónicos y ficheros almacenados en su sistema informático.</p>
    <p>El Gobierno Nacional no puede garantizar que la transmisión de información por parte de los Usuarios sea completamente segura. El Usuario asume este riesgo.</p>
    <strong><p>No leer lo anterior, es solo un ejemplo sacado de </p><a href="https://www.argentina.gob.ar/terminos-y-condiciones"> Terminos y Condiciones </a>  </strong>
  </div>

  <div class="design-w3l">
    <div class="mail-form-agile">
      <form>
        <input type="text"  [(ngModel)]="usuario._email" required name="name" placeholder="Nombre de usuario o correo" required=""/>
        <input type="password" [(ngModel)]="usuario._pass" required name="password" class="padding" placeholder="contraseña" required=""/>
        <input type="password"  [(ngModel)]="usuario._passRepeat"  name="repeatPassword" class="padding" placeholder="repita contraseña" required=""/>
        <input type="text" [(ngModel)]="jugador.apodo" name = "apodo" class="padding"  placeholder="Apodo">
        <br>
        <label style="color: white"> Sexo: </label>
        <div class="form-check form-check-inline">
           <label class="form-check-label" style="color: white" for="masculino"><input class="form-check-input" [(ngModel)]="jugador.sexo" type="radio" name="sexo" id="masculino" value="m"> Masculino </label>
          <label class="form-check-label" style="color: white" for="femenino"><input class="form-check-input"  [(ngModel)]="jugador.sexo" type="radio" name="sexo" id="femenino" value="f"> Femenino   </label>
        </div>
        <div class="form-check form-check-inline">
          <label id="avatar" style="color: white"> Avatar: </label>
          <label class="form-check-label" style="color: white" for="mario"> <input class="form-check-input" [(ngModel)]="jugador.avatar"  type="radio" name="avatar" id="m"  value="m" > <img [src]="mario" class="avatar" id="mario" alt="mario"> </label>
          <label class="form-check-label" style="color: white" for="peach"> <input class="form-check-input" [(ngModel)]="jugador.avatar" type="radio" name="avatar" id="p"  value="p"> <img [src]="peach" class="avatar" id="peach" alt="peach"> </label>
          <label class="form-check-label" style="color: white" for="yoshi"> <input class="form-check-input" [(ngModel)]="jugador.avatar" type="radio" name="avatar" id="y" value="y"> <img [src]="yoshi" class="avatar" id="yoshi" alt="yoshi"> </label>
          <label class="form-check-label" style="color: white" for="bowser"> <input class="form-check-input" [(ngModel)]="jugador.avatar" type="radio" name="avatar" id="b" value="b"> <img [src]="bowser" class="avatar" id="bowser" alt="bowser"> </label>
          <label class="form-check-label" style="color: white" for="toad"> <input class="form-check-input" [(ngModel)]="jugador.avatar" type="radio" name="avatar" id="t" value="t"> <img [src]="toad" class="avatar" id="toad" alt="toad"> </label>
          <label class="form-check-label" style="color: white" for="luigi"> <input class="form-check-input" [(ngModel)]="jugador.avatar" type="radio" name="avatar" id="l" value="l"> <img [src]="luigi" class="avatar" id="luigi" alt="luigi"> </label>
          <label class="form-check-label" style="color: white" for="wario"> <input class="form-check-input" [(ngModel)]="jugador.avatar" type="radio" name="avatar" id="w" value="w"> <img [src]="wario" class="avatar" id="wario" alt="wario"> </label>
          <label class="form-check-label" style="color: white" for="dk"> <input class="form-check-input" [(ngModel)]="jugador.avatar" type="radio" name="avatar" id="d" value="dk"> <img [src]="dk" class="avatar" id="dk" alt="dk"> </label>
        </div>

        <div class="form-group">
            <input type="checkbox"  [(ngModel)]="jugador.terminos" name="terminos" id="recordar" class="form-check-input" value="" required>
            <label for="recordar" style="color: white">Acepto Terminos y Condiciones</label>

          <br>
        </div>
      </form>
      <div class="container">
        <div class="row botones">
          <div class="col-md-6">
            <button type="button" class="btn btn-success btn-lg" (click)="onRegister()" >Registrarse</button>
          </div>
          <div class="col-md-6">
            <button type="button" class="btn btn-success btn-lg" (click)="cancelar()">Cancelar</button>
          </div>
        </div>
        <br>
        <span class="psw" style="color: white" >Tenes Cuenta? Logueate <a href="#">aqui</a></span>
      </div>
    </div>
    <div class="clear"> </div>
  </div>

  <div class="footer">
    <p>© 2020 Gaming Login form. All Rights Reserved | Design by  <a href="https://german.com/" >  German Alvaredo </a></p>
  </div>
</div>
</body>
</html>


