



/*-- NUEVO ESTILO --*/




/*end reset*/
/****-----start-body----****/
body{
  text-align: center;
  background: url("../../../assets/imagenes/1.jpg") 0px 0px no-repeat;
  background-size:cover;
  background-attachment: fixed;
}

@font-face{
  font-family: "Audiowide-Regular";
  src:url(../../componentes/login/fonts/Audiowide-Regular.ttf);
}
@font-face{
  font-family: "Asap-Regular";
  src:url(../../componentes/login/fonts/Asap-Regular.ttf);
}
.padding-all{
  padding: 10px;
}

.header {
  text-align: center;
  padding-bottom:75px;
}
.header h1 img{
  width:7%;
}

p ,a{
  font-family: "Asap-Regular";
}
.header h1 {
  font-size:50px;
  color: #fff;
  font-family: "Audiowide-Regular";
  letter-spacing:3px;
  margin:0 auto;
}


.design-w3l{
  width:68%;
  margin:0 auto;
}

.mail-form-agile {
  padding: 70px 150px;
  text-align: center;
  margin:0px;
  background: rgba(23, 218, 218, 0.18);
  color: #000;
  margin:0 auto;
}

.padding {
  margin: 20px 0 30px;
}

.botones{
  padding-left: 25px;
  border-radius: 12px;
  font-family: sans-serif;
  border-width: 2px;

}

.mail-form-agile input[type="text"], .mail-form-agile input[type="password"] {
    width: 100%;
  font-size: 26px;
  outline: none;
  background:transparent;
  border:0px;
  border-bottom: 1px solid #fff;
  border-radius: 0px;
  font-family: "Asap-Regular";
  letter-spacing:1.6px;
  color:#fff;
}

.mail-form-agile button:hover{
  background-color: green;
}



.mail-form-agile button{
  padding: 15px 15px ;
}





.mail-form-agile button {
  font-size: 15px;
  letter-spacing:1.2px;
  border: none;
  text-transform: capitalize;
  outline: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background: #D65B88;
  color: #fff;
  cursor: pointer;
  font-family: "Asap-Regular";

}
.mail-form-agile input[type="submit"]:hover {
  -webkit-transition-duration: 0.9s;
  transition-duration: 0.9s;
  background:rgba(91, 157, 214, 0.76);
}


.footer{
  text-align: center;
  padding-top:75px;
  letter-spacing:1.6px;
  line-height:22px;
}
.footer p {
  font-size: 16px;
  color: #fff;
  margin: 0px;
  letter-spacing:1.4px;
}
.footer p a {
  color:#D65B88;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.footer p a:hover {
  color: #51cbe1;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
}



















