

<div class="resultado">
  <h4 routerLink="/Principal"><button class="btn btn-success btn-lg comenzar">Volver</button> </h4>
  <table class="table table-condensed">
    <thead>
    <tr>
      <th>Email del Jugador</th>
      <th>Juegos</th>
      <th>Fecha y hora</th>
      <th>Puntaje</th>
      <th>Intentos</th>
      <th>Resultado</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let juegos of listadoGeneral">
      <td>{{juegos.jugador}} </td>
      <td>{{juegos.nombre}} </td>
      <td>{{juegos.fecha.toDate() | date:  'dd/MM/yyyy hh:mm'}} </td>
      <td>{{juegos.puntaje}} </td>
      <td>{{juegos.intentos}} </td>
      <td *ngIf="juegos.resultado">Gano </td>
      <td *ngIf="!juegos.resultado">Perdio</td>
    </tr>

    </tbody>
  </table>


</div>












