
.container {
  display: flex;
  flex-direction: row;
}


h1{
  margin-top: 20px;
  color: white;
  margin: auto;
  margin-top: 10px;

}

.jugar{
  text-align: center;
  width: 100%;
}

.jugar button{
   border-top: 0px;
   border-bottom: 0px;
   border-left: 0px;
  border-right: 0px;
}

.inicio{
  text-align: center;
}

button{
  border-radius: 5px;
  border-color: white;
  margin-top: 20px;
  margin-left: 20px;
  background-color: fuchsia;
}

img{
   width: 220px;
  height: 232px;
  border: solid 1px #000;
}



.ppt{
  height: 600px;
  background-color: #0c062e;
}

#tuJugada{
  margin-left: 330px;
}

#elRival{
  margin-right: 290px;
}


.jugada{
  margin-top: 30px;
}

.jugada img{
  margin-left: 25px;
  border-radius: 5px;
  border-color: fuchsia;
}

p{
  margin-top: 20px;
  font-size: 40px;
  color: white;
}

.jugada p{
 text-align: center;
}

.principal {
  padding-bottom: 10px;
}

.neon {
  color: #fff;

  text-shadow:
    0 0 5px rgba(0,178,255,1),
    0 0 10px rgba(0,178,255,1),
    0 0 20px rgba(0,178,255,1),
    0 0 40px rgba(38,104,127,1),
    0 0 80px rgba(38,104,127,1),
    0 0 90px rgba(38,104,127,1),
    0 0 100px rgba(38,104,127,1),
    0 0 140px rgba(38,104,127,1),
    0 0 180px rgba(38,104,127,1);
}

.neon-violeta {
  color: #FFFFFF;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
}
